body {
    background-image: linear-gradient(to right, black,rgb(104, 30, 30),red,rgb(104, 30, 30), black);
}

/*CABECERA*/


header {
	background:#fff;
	width:auto;
    justify-content: space-evenly;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color: transparent;
	font-size:40px;
}

header .logo img {
	width:70px;
	vertical-align: baseline;
}

header .logo a {
	color:rgb(8, 7, 7);
	text-decoration: none;
	line-height:50px;
    font-family: 'Rubik Moonrocks', cursive;
}

header nav {
    line-height: 200px;
	width:auto;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}


header nav a{
    display: inline-block;
    color:  rgb(17, 16, 16);
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease ;
    transition: all 500ms ease;
    justify-content: space-between;
}

header nav a:hover {
        background: #f53a3a;
        border-radius: 50px;
    }

.link-with-menu {
    position: relative;

}

.sub-menu {
    position: absolute;
    top: 55px;
    background-color: rgba(122, 122, 122, .5);
    padding: 1rem;
    left: 0;
    display: none;
	z-index: 1;
	border: 1px groove;
}

.link-with-menu:hover .sub-menu {
    display: block;
}

.sub-menu span {
    padding: .5rem 1rem;
    display: inline-block;
}
.sub-menu span:hover {
	background: #f53a3a;
	border-radius: 40px;
}



    /*BANNER*/
.banner {
    background-color: #fff;
    position: relative;
}

.banner-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
    position: relative;
}

.banner-text {
    padding: 0 30px;
    position: absolute;
    left: 0px;
    bottom: 20px;
    width: 50%;
    color: white;
    background-color: rgba(155, 155, 155, .2);
}

/*Logo Whatsapp*/
.whatsapp-container {
    position: fixed;
    right: 20px;
    bottom: 100px;
}

.whatsapp-icon {
    width: 70px;
    height: 70px;
}


.youDied-img{
    position: relative;
     width: 70%;
     left: 13%;
     top: -25px;
     border: 5px solid rgb(153, 26, 26);
 }
 
 
 .text-404{
     text-align: center;
     position: relative;
     top:80px;
     left: -25px;
     z-index: 1000;
 color: rgb(255, 255, 255);
 text-shadow: 5px 5px rgb(0, 0, 0);
 font-size: 50px;
 }

/*MAIN*/



.main {
	background:#fff;
	padding:20px;

	flex:1 1 70%;
	/*flex:1;*/
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
} 

/*FOOTER*/

footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;
	position: relative;


	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	background:#a12214;
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;

	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

footer .links a:hover {
	background:#8d271c;
}

footer .social {
	background:none;
}

footer .social a {
	padding: 10px;
	text-decoration: none;
	font-size: 30px;

}


footer .links-pages a {
	display: inline-block;
	justify-content: space-between;
	color: #fff;
	text-decoration: none;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 10px;
	padding: 8px;

}
	
	footer .links-pages a:hover {
		background: #f53a3a ;
		border-radius: 40px;
}



@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {

	}
}

@media screen and (max-width:1100px){
	.banner-img {
		width: 100%;
		height: 300px;
		object-fit: cover;
		object-position: bottom;
		position: relative;
		top:10px
	}
}


@media screen and (max-width:950px) {
	

.text-404{
	text-align: center;
	position: relative;
	top:80px;
	left: -25px;
	z-index: 1000;
color: rgb(255, 255, 255);
text-shadow: 5px 5px rgb(0, 0, 0);
font-size: 30px;
}}

@media screen and (max-width:850px) {
	

	.text-404{
		text-align: center;
		position: relative;
		top:50px;
		left: -5px;
		z-index: 1000;
	color: rgb(255, 255, 255);
	text-shadow: 5px 5px rgb(0, 0, 0);
	font-size: 25px;
	}}

	@media screen and (max-width:1093px) {
	footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;
	position: relative;
	bottom: -20px;
	

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}}

@media screen and (max-width:967px) {
	footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;
	position: relative;
	bottom: -50px;
	

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}}



@media screen and (min-width:100px) {
	footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;
	position: relative;
	bottom: -60px;
	

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}}

@media screen and (max-width:1000px) {
.youDied-img{
    position: relative;
     width: 75%;
     left: 13%;
     top: -5px;
     border: 5px solid rgb(153, 26, 26);
 }}


 @media screen and (max-width:700px) {
 /*Logo Whatsapp*/
.whatsapp-container {
    position: fixed;
    right: 20px;
    bottom: 150px;
}}

@media screen and (max-width:700px) {
.whatsapp-icon {
    width: 50px;
    height: 50px;
}}